
:root {
  --main-color: #800000;
  --border-color: #931420;
}

html {
  background-color: #fffdfd;
  margin: 0;
  padding: 0;
}

body {
  width: 720px;
  margin: 0 auto;
  border: 3px solid var(--border-color);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

/* HEADER with gradient */
header {
  background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
  border-bottom: 3px solid var(--border-color);
  padding: 1.5em 30px 2em;
  display: flex;
  align-items: center;
  gap: 20px;
}

header img {
  height: 80px;
}

header hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h2 {
  color: var(--main-color);
  margin: 0;
}

header h3 {
  margin: 0;
  font-weight: normal;
  padding-top: 0.5em;
}

/* MAIN */
main {
  padding: 0 30px;
}

main h1 {
  font-size: 150%;
  color: var(--main-color);
  border: double 3px var(--border-color);
  border-radius: 15px;
  box-shadow: 5px 5px 8px var(--border-color);
  padding: 0.5em;
  text-align: center;
  margin-top: 1.5em;
}

main h2 {
  color: var(--main-color);
  font-size: 130%;
  margin-top: 1.2em;
}

main h3 {
  font-size: 105%;
  margin-top: 1em;
}

blockquote {
  font-style: italic;
  margin-left: 2em;
  color: #333;
}

ul {
  padding-left: 1.5em;
}

/* PADDING FIXES */
header h2, header h3 {
  padding-left: 1.5em;
  padding-right: 2em;
}

main h2, main h3 {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  padding-right: 30px;
  padding-left: 30px;
}

/* LINKS */
a:hover,
a:focus {
  font-style: italic;
}

em.shadow {
  text-shadow: 1px 1px var(--main-color);
}

/* FOOTER */
footer {
  background-color: var(--main-color);
  color: white;
  border-top: 3px solid var(--border-color);
  padding: 0.5em 30px;
  font-size: 90%;
  text-align: center;
}
